* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Not optimized for resolution smaller than 1094, header will slip to margin */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;    
}
/* Horiseon displayed top left and seperated (see .header h1 .seo) */ 
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* colouring only 'seo' of Horiseon */
.header h1 .seo {
    color: #d9dcd6;
}
/*Set font family & spaced with margin */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;

}
/* Pages top most headings displayed to the right and spaced */
.header nav ul li {
    display: inline-block;
    margin-left: 20px; 
}
/* Given links now have colour rather than standared blue underline */
a {
    color: #ffffff;
    text-decoration: none;
}
/*Main image set to page width with height set to 1000px, larger resolutions will lose top of image*/
.hero {
    height: 800px;
    min-width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Main content for the page seperated into thirds with floating images
   Consolidated the 'id's within main element into .content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content img {
    max-height: 200px;
}
/* stylings for text and spacing of pages main information */
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* headings for main content */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Floating images class within 'main'/'section to give page natural feel*/ 
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Consolidated classes within 'aside' into one css selector */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}
/* also consolidated all h3 elements */
.benefits h3 {
    margin-top: 40px;
    text-align: center;
}
/* also consolidated all '.benefits/img' elements */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h4 {
    font-size: 20px;
}